@font-face {
  font-family: HelveticaLTStdLight;
  src: url("../fonts/HelveticaNeueLTPro-Lt.woff") format("woff");
}

a.navbar-brand {
	padding: 15px;
}

ul.navbar-nav > li > a {
	padding: 30px;
}

div#map {
	position: absolute;
	height: 100vh;
	width: 75%;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
}

div#infoBar {
	margin-left: 85%;
	width: 40vh;
	height: 85vh;
	overflow:auto;
	
}

div#infoBarEmbedded {
	margin-left: 85%;
	top: 5px;
	width:40vh;
	height: 100vh;
	overflow:auto;
	
}

html, body {
	
	width:100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x:auto;
}


div#caption {
	position: absolute;
	z-index: 2;
}



.h1, h1 {
	padding-bottom: 1em;
}

.leaflet-popup-content-wrapper {
  background-color: white
}